h1{
  color: White;
  font-style: italic;
}

h2{
  color: white
}

p{
  color: white
}

a:link {
  text-decoration: none;
}

a:hover {
  color: aqua;
}

.btn {
  border: 2px solid white;
  background-color: navy;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.book {
  border-color: white;
  color: white;
}

.book:hover {
  background-color: white;
  color: navy;
}

body{
  background-color: navy;
  font-family: sans-serif; 
  text-align: center;
}

form{
  color: white;
}

input[type=text] {
  width: 400px;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  width: 150px;
  height: 50px;
  background-color: navy;
  transition: width 1s;
  border: 2px solid white;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  text-decoration: none;
  margin: 25px 0;
  cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover {
  width: 400px;
  background-color: white;
  color: navy;
}